body {
    margin: 0;
}

.navbar {
    background-color: goldenrod;
    height: 6em;
    margin: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

}

.logo {
    width: 50%;
    display: flex;
    justify-content: flex-start;

}

.lo {
    width: 40%;
}

.page {
    /*    margin: 0 auto;*/
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

li {
    list-style-type: none;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
}


li > a {
    color: black;
    display: block;
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
    text-decoration: none;
    list-style-type: none;

}

.co {
    margin-right: 10%;
}

.vl {
    height: 6em;
    border-left: 2px solid black
}

/*Footer*/
.footer {
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: beige;
    padding-top: .1em;
    padding-bottom: 3em;

}

.foot-info {
    text-align: center;
    margin-top: 2%;
    word-spacing: 3px;
    line-height: 1.4;
    font-size: 1.1em;
}

.parallax-ser {
    background-image: 
}

.ser1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-start;
    max-width: 70%;
    margin-top: 5%;
}

.single {
    width: 100%;
    margin-right: 7%;
    background-color: moccasin;
    padding: 2em;

}

.team {
    width: 100%;
    background-color: moccasin;
    padding: 2em;
}

.ser-h3 {
    font-size: 1.5em
}

.ser-text {
    font-size: 1.2em;
}
.truck {
    text-align: center;
    margin-top: 4%;
}

.ser2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-start;
    max-width: 70%;
    margin-top: 3%;
}

.cas {
    width: 100%;
    margin-right: 7%;
    background-color: moccasin;
    padding: 2em;
}

.ken {
    width: 100%;
    background-color: moccasin;
    padding: 2em;
}

.page2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-start;
    max-width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.con-form {
    width: 100%;
    margin-right: 7%;
    background-image: url(pic/dust_scratches.png);
    padding: 2em;
    line-height: 2em;

}
input {
    height: 1.5em;
    width: 50%;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 1em;
}

#reason {
    height: 1.5em;
    width: 51%;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 1em;    
}


.form {
    font-size: 1.5em;
    display: block;
    line-height: 1.5em;
}

#comment {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 1.3em;
}

.parallax-c {
    background-image: url(pic/dust_scratches.png);
    min-height: 27em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}


.con-info {
    color: black;
    position: absolute;
    left: 20%;
    top: 30%;
    max-height: 50%;
    max-width: 60%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1%;
    font-size: 2.4em;
    letter-spacing: 1px;
}

.address {
    text-align: center;
    margin-top: 5em;
}

.address-h {
    font-size: 2em;
}

.address-p {
    font-size: 1.3em;
    line-height: 1.6em;
}
