@import url('https://fonts.googleapis.com/css?family=Karla');

Box-sizing border-box */
* { box-sizing: border-box; }

body {
    background-image:url(dust_scratches.png);
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
 height: 100%;
    justify-content: center;
    align-items: stretch;
    align-content:stretch;
}
.hometitle {
    font-size: 2em;
  width: 95%;
    height: 50%; 
    flex-grow: 1;
    flex-shrink: ; 
    text-align: center;
}
.homepage1{
    font-size: 1.3em;
    width: 95%;
    height: 50%; 
    flex-grow: 1;
    flex-shrink: ; 
    text-align: center;
    font-size: 300%;
}
.homepage2{
    font-size: 1.3em;
    width: 20%;
    height: 50%; 
    flex-grow: 1;
    flex-shrink: ; 
    text-align: left;
    padding:1%;
    margin:5%;
    border:1%;
    align-self: flex-start;
}

.homepage2 p {
    font-family: 'Karla';
}

.header1{
    font-size: 2em;
  width: 95%;
    height: 50%; 
    flex-grow: 1;
    flex-shrink: ; 
    text-align: center;
}
.header2{
     font-size: 2em;
   width: 95%;
    height: 50%; 
    flex-grow: 1;
    flex-shrink: 1; 
    text-align: right;
    padding:1%;
    margin:1%;
    border:1%;
    align-self: flex-end;
}
.paragraph{
    font-size: 1.3em;
    width: 10%;
    height: 50%; 
    flex-grow: 1;
    flex-shrink: ; 
    text-align: left;
    padding:2%;
    margin:5%;
    border:2%;
    align-self: flex-start;
    float: left;
}
.paragraph p {
    font-family: 'Karla';
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.header3{
    font-size: 2em;
  width: 95%;
    height: 50%; 
    flex-grow: 1;
    flex-shrink: ; 
    text-align: left;
    padding:1%;
    margin:1%;
    border:1%;
    align-self: flex-start;
}
.header3 h2 {
    font-family: 'Karla';
}
.extra {
    font-size: 1.3em;
    flex-grow: 1;
    flex-shrink: ; 
    text-align: left;
    align-self: flex-start;
    align-self: auto;
}
.extra p {
    font-family: 'Karla';
}